extends layout

block navbar
  nav
    span.logo
      i.icon-eye-open
      = title
    span.subtitle Smart house brains
    button.blue(ng-click='toggleSignInDialog()')
      i.icon-signin 
      span Sign in

block signin
  div.signin(ng-show='showSignInDialog')

block content 

block dashboard
  .dashboard(ng-controller='lastPacketController')
    ul.tabs.left
      li
        a(href='#lastPacket') Last packet
      li
        a(href='#graph') Graph
      li
        a(href='#tlvs') TLV's
    #lastPacket.tab-content
      ul.packet-list
        div.packet-settings
          span Show packets:
          input(type='text', ng-model='packetsCount', size='5', onClick='this.select();')
          span interval (ms):
          input(type='text', ng-model='updateInterval', ng-disabled='sharker.act' size='5', onClick='this.select();')
          button.small(ng-click='shark()') {{sharker.contr}}
        li(ng-repeat='packet in packets')
          .notice.error(ng-show="!packet.result")
            i.icon-remove-sign.icon-large
            {{packet.errorMessage}}
          .packet(ng-show="packet.result")
            .packet-caption
              i.icon-time &nbsp;
              span.value {{packet.time}}
              span src ip:
              span.value {{packet.src.ip}}
              span src port:
              span.value {{packet.src.port}}
            ul.button-bar.tvl(ng-repeat='tvl in packet.tlvs')
              li
                a(href='')
                  i.icon-tag 
                  {{tvl.type}}
              li
                a(href='')
                  i.icon-resize-horizontal
                  {{tvl.length}}
              li
                a(href='')
                  {{tvl.value}}
          .raw-packet(ng-show="packet.errorCode > 10")
            {{packet.rawData}}
    #graph.tab-content
      #graph-container(ng-controller='graphController')
    #tlvs.tab-content
      #tlvs-container(ng-controller='tlvsController')
        #tlvs-buttons
          button.small(ng-click='addTLV()') add
        #tlvs-add(ng-show='addTLVFormVisible')
          form
            label(for='tlvName') TLV name:
            input(type='text', name='tlvName', placeholder='Enter TLV name')
            label(for='typeValue') type value:
            input(type='number', name='typeValue', placeholder='Enter type value')
            select.fancy(name='tlvParse')
              option(value='0') -- Choose parse method --
              option(value='uint8') unsigned int 1 bytes
              option(value='uint16') unsigned int 2 bytes
              option(value='uint32') unsigned int 4 bytes
              option(value='floatBE') float 4 bytes BE
              option(value='floatLE') float 4 bytes LE
              option(value='doubleBE') double 8 bytes BE
              option(value='doubleLE') double 8 bytes LE
              option(value='string') string
            button.small.green save
        #tlvs-table

block footer
  .footer
    .col-4
      a(href='https://github.com/KutsenkoA/Watson') GitHub
