extends layout

block navbar
  nav
    span.logo
      i.icon-eye-open
      = title
    span.subtitle Smart house brains
    button.blue(ng-click='toggleSignInDialog()')
      i.icon-signin 
      span Sign in

block signin
  div.signin(ng-show='showSignInDialog')

block content 

block dashboard
  .dashboard(ng-controller='lastPacketController')
    ul.tabs.left
      li
        a(href='#lastPacket') Last packet
      li
        a(href='#graph') Graph
    #lastPacket.tab-content
      .notice.error(ng-show="!packet.result")
        i.icon-remove-sign.icon-large
        {{packet.errorMessage}}
      .packet(ng-show="packet.result")
        .packet-caption
          i.icon-time &nbsp;
          span.value {{packet.time}}
          span src ip:
          span.value {{packet.src.ip}}
          span src port:
          span.value {{packet.src.port}}
        ul.button-bar.tvl(ng-repeat='tvl in packet.tlvs')
          li
            a(href='')
              i.icon-tag 
              {{tvl.type}}
          li
            a(href='')
              i.icon-resize-horizontal
              {{tvl.length}}
          li
            a(href='')
              {{tvl.value}}
      .raw-packet(ng-show="packet.errorCode > 10")
        {{packet.rawData}}
    #graph.tab-content
      #graph-container(ng-controller='graphController')

block footer
  .footer
    .col-4
      a(href='https://github.com/KutsenkoA/Watson') GitHub
