extends layout

block navbar
  nav
    span.logo
      i.icon-eye-open
      = title
    span.subtitle Smart house brains
    button.blue(ng-click='toggleSignInDialog()')
      i.icon-signin 
      span Sign in

block signin
  div.signin(ng-show='showSignInDialog')

block content 

block dashboard
  .dashboard(ng-controller='lastPacketController')
    ul.tabs.left
      li
        a(href='#lastPacket') Last packet
      li
        a(href='#graph') Graph
      li
        a(href='#chunks') Chunks
    #lastPacket.tab-content
      ul.packet-list
        div.packet-settings
          span Show packets:
          input(type='text', ng-model='packetsCount', size='5', onClick='this.select();')
          span interval (ms):
          input(type='text', ng-model='updateInterval', ng-disabled='sharker.act' size='5', onClick='this.select();')
          button.small(ng-click='shark()') {{sharker.contr}}
        li(ng-repeat='packet in packets')
          .notice.error(ng-show="!packet.result")
            i.icon-remove-sign.icon-large
            {{packet.errorMessage}}
          .packet(ng-show="packet.result")
            .packet-caption
              i.icon-time &nbsp;
              span.value {{packet.time}}
              span src ip:
              span.value {{packet.src.ip}}
              span src port:
              span.value {{packet.src.port}}
            ul.button-bar.tvl(ng-repeat='tvl in packet.tlvs')
              li
                a(href='')
                  i.icon-tag 
                  {{tvl.type}}
              li
                a(href='')
                  i.icon-resize-horizontal
                  {{tvl.length}}
              li
                a(href='')
                  {{tvl.value}}
          .raw-packet(ng-show="packet.errorCode > 10")
            {{packet.rawData}}
    #graph.tab-content
      #graph-container(ng-controller='graphController')
    #chunks.tab-content
      #chunks-container(ng-controller='chunksController')
        #chunk-buttons
          button.small.orange(ng-click='addChunk()') add
          ul.button-bar.chunk-btn-bar
            li(ng-repeat="base in basis")
              a(href='', ng-click="setBase(base)", ng-class="{'btn-pressed': showTypeValueBase === base}") {{base}}
        widget-chunk(ng-show='addTLVFormVisible')
        #chunk-table
          table
            thead
              tr
                th Name
                th Type value
                th Parse
            tbody
              tr.clickable(ng-repeat='chunk in chunks', ng-click='editChunk(chunk)')
                th {{chunk.name}}
                th {{chunk.typeValue | base:showTypeValueBase}}
                th {{chunk.parse}}

block footer
  .footer
    .col-4
      a(href='https://github.com/KutsenkoA/Watson') GitHub
