body {
  padding: 0;
  margin: 0;
  background: rgb(37,37,37);
  color: gray;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
	padding: 5px;
	background: black;
	height: 46px;
	border-bottom: 1px solid rgb(88, 88, 88);
}

nav button {
	float: right;
}

table thead tr {
	background: #222222;
	color: gray;
}

table thead tr th:first-child {
	border-top-left-radius: 6px;
}

table thead tr th:last-child {
	border-top-right-radius: 6px;
}

table th {
	padding: 10px !important;
}

table tr.clickable {
	cursor: pointer;
}
table tr.clickable:hover {
	background: antiquewhite;
}

.simple-form {
	position: fixed;
	background: gainsboro;
	padding: 10px;
	border: 1px solid;
	border-radius: 2px;
	z-index: 500;
}
.form-btns {
	padding-top: 6px;
}

.btn-pressed {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);
	border-left: 1px solid #ccc;
}

.logo {
	font-size: 32px;
}

.logo i {
	color: darkgoldenrod;
	padding-right: 6px;
}

.subtitle {
	color: darkgoldenrod;
}

.signin {
	border: 2px solid darkgray;
	padding: 10px;
	border-radius: 8px;
	margin: 3px;
	width: 300px;
	background: rgb(12, 12, 12);
	box-shadow: 0 0 20px black;
	position: absolute;
	right: 10px;
	top: 40px;
	z-index: 1000;
}

.dashboard {
	padding: 10px 50px;
}

.packet-settings {
	border-bottom: 1px solid lightgray;
	padding-bottom: 3px;
}

.packet-settings span {
	padding-left: 5px;
	padding-right: 2px;
}

.packet-settings input {
	font-size: 0.8em;
	margin-right: 3px;
}

.packet-caption {
	font-size: 12px;
	padding: 6px;
}

.packet-caption span {
	padding: 5px;
}

.packet-caption span.value {
	font-weight: bold;
	padding-right: 20px;
}

.raw-packet {
	word-wrap: break-word;
	font-size: 12px;
	color: darkolivegreen;
}

.chunk {
	padding: 0 3px !important;
}

#chunk-buttons {
	border-bottom: 1px solid lightgray;
	padding-bottom: 3px;
	margin-bottom: 5px;
}
.chunk-btn-bar {
	vertical-align: top;
	margin: 0 10px !important;
}
.chunk-btn-bar li a {
	padding: 5px 10px !important;
	font-size: 12px !important;
}

a.chunk-table-btn {
	margin: 2px;
}

a.edit {
	color: forestgreen;
}

a.remove {
	color: darkred;
}

.footer {
	border-top: 1px dashed rgb(63, 63, 63);
	font-size: 10px;
	color: rgb(63, 63, 63);
	padding: 10px 100px;
}